body{
    text-align: center;
}
#outer{
    height: 400px;
    width: 400px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    
    
}
.inner{
    height: 33%;
    width: 32%;
    border: 2px solid black;
    font-size: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
   
}
.left{
    border-left: none;
}
.right{
    border-right: none;
}
.top{
    border-top: none;
}
.bottom{
    border-bottom: none;
}
button{

    margin: auto;
    margin-top: 20px;
    height: 30px;
    width: 90px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    border-radius: 40px;
    background-color: greenyellow;
    color: black;
}

